.about-section {
  text-align: center;
  width: 100%;
  height: auto;
  padding: 15px 0;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
}

.img-section {
  display: flex;
  flex-direction: column;
}
.aboutImg {
  width: 50%;
}

.cv-container {
  margin: 20px 0px;
}
.cv-container a {
  text-decoration: none;
  color: gold;
  background-color: rgb(48, 18, 18);
  padding: 10px 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}

.cv-icon {
  margin-right: 10px;
}

.cv-container a:hover {
  background-color: gold;
  color: black;
}

.table-value {
  text-align: justify;
}

.table-title {
  font-weight: 700;
  padding: 6px 8px;
  text-align: justify;
}

.lang {
  border: 1px solid white;
  padding: 3px 7px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  margin: 0 3px;
}

/* skill */

.skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  width: 50%;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.skill {
  width: 100px;
  height: 100px;
  margin: 10px;
}

@media screen and (max-width: 600px) {
  .about {
    flex-direction: column;
  }
  .table-section {
    flex-direction: column;
  }
  .table-title {
    text-align: right;
  }
  .skills-list {
    width: 95%;
  }
  .table-section {
    padding-bottom: 100px;
  }
  .aboutImg {
    width: 40%;
    margin-top: 50px;
  }
  /* .cv-container a {
    font-size: 14px;
    font-weight: 600;
  } */
}
