.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.contact-body {
  display: flex;
}

/* .contact-icon-container {
  margin: 0 10px;
} */

.contact-icon {
  padding: 0 10px;
  font-size: 20px;
}

.contact-info .contact-body {
  color: white;
}

.contact-body a {
  text-decoration: none;
  color: white;
}

.contact-info .contact-title {
  text-transform: uppercase;
}

.another-icon {
  font-size: 25px;
  margin: 8px;
  color: gold;
}

.contact-info-section,
.contact-form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-info-section p {
  padding: 0 10px;
  align-items: justify;
}
