.heroSection {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.img-section {
  width: 50%;
  /* height: 350px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroImg {
  width: 80%;
}

.home-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
.home-heading {
  letter-spacing: 1.5px;
  height: 50px;
  width: 350px;
}

.name {
  color: gold;
}
.home-paragraph {
  text-align: justify;
  width: 70%;
}

@media screen and (max-width: 400px) {
  .heroSection {
    flex-direction: column;
    justify-content: center;
  }

  .heroImg {
    width: 50%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .home-content {
    width: 100%;
  }

  .home-heading {
    margin-top: -15px;
  }

  .home-paragraph {
    font-size: 14px;
    text-align: justify;
    /* padding: 0 15px; */
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .heroSection {
    flex-direction: column;
    justify-content: center;
  }

  .heroImg {
    width: 50%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .home-content {
    width: 100%;
    align-items: center;
  }
  .home-paragraph {
    padding: 0 15px;
  }
}

@media screen and (max-width: 850px) {
  .img-section {
    width: 400px;
  }
  .heroImg {
    width: 80%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .home-paragraph {
    padding: 0 15px;
  }
}
