.navList li {
  list-style: none;
}

.navSection {
  position: relative;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
}

.navList li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  width: 100px;
}

.navText {
  display: none;
}

.navIcon {
  margin-left: 10px;
  display: inline-block;
}

.navIcon:hover .navText {
  display: block;
}
