nav {
  /* background-color: gold; */
  height: 40px;
  padding: 8px 0;
}
.nav-ul {
  display: flex;
}

.nav-ul li {
  list-style: none;
}

.nav-ul li a {
  display: inline-block;
  margin-right: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: beige;
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}

.nav-ul li a::after {
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0 #ffffff;
  content: '';
  display: block;
  height: 2px;
  width: 0;
}

.nav-ul li a:hover {
  color: gray;
}

.nav-ul li a:hover:after {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .nav-ul li a {
    margin-right: 8px;
    padding: 2px;
  }
}
